ChessOpenings/ChessOpenings.Android/obj/
ChessOpenings/ChessOpenings.Android/bin/
.vs/
ChessOpenings/ChessOpenings/obj/
ChessOpenings/ChessOpenings/bin/
ChessOpenings/ChessOpenings.UWP/obj/
ChessOpenings/ChessOpenings.UWP/bin/
ChessOpenings/ChessOpenings.iOS/obj/
ChessOpenings/ChessOpenings.iOS/bin/
ChessOpenings/ChessOpenings.iOS.ChessOpenings.iOS.csproj.user
ChessOpenings.UnitTests/obj/
ChessOpenings.UnitTests/bin/
ChessOpenings.DataConversion/obj/
ChessOpenings.DataConversion/bin/
